body {
  margin: 0;
}
.header {
  background-color: darkslategrey;
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}
.link:hover {
  color: black;
}
